.Token {
    border-radius: 50%;
    background: #000;
    width: 50px;
    height: 50px;
    margin: 16px auto;
    cursor: pointer;
    box-sizing: border-box;
}

.Token.red {
    background: #d42c0b;
}

.Token.blue {
    background: #0b18d4;
}

.Token.clickablered {
    border: 3px solid #d42c0b;
}

.Token.clickableblue {
    border: 3px solid #0b18d4;
}